<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="flase" scanPeriod="60 seconds">
    <property name="LOG_DIR" value="logs/"/>
    <property name="appName" value="ConfigService-Dashboard"/>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${appName}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>250MB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{35} %X{camel.breadcrumbId} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="no.cantara" level="{LOGBACK_CANTARA_LEVEL}"/>

    <root level="info">
        <appender-ref ref="logfile"/>
    </root>
</configuration>
