/* app css stylesheet */

html{
    height:100%;
}

body {
    padding: 108px 15px 20px 15px;
    min-height: 100%;
    font-size: 13px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers - start*/
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* styles for validation helpers - end */

/*styles for top nav bar - start*/
.navbar-default.top-navbar {
    background-color: #4eaded;
    border-color: #4eaded;
}
.navbar-default .second-top-nav{
    background-color: #0088dc !important;
    height: 0px;
}
.navbar-default .second-top-nav a {
    color: white !important;
}
.navbar-default.top-navbar h1 {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*styles for top nav bar - end*/

/*styles for left nav bar - start*/
.left-nav-bar {
    background-color: #1ba2db;
    min-height: 100%;
    position: fixed;
    margin-top: -14px;
    margin-left:-15px;
}
.left-nav-bar a{
    color:white;
    text-align:center;
    width:100%;
}
/*styles for left nav bar - end*/

/*styles for container - start*/



/*styles for container - end*/
