/* app css stylesheet */

/*

http://cssgradientbutton.com/?bg0=fcfac0&bg1=f6f283&bg2=faf68f&bg3=f3ed53&r=3&p_top=10&p_right=10&p_bottom=10&p_left=10&w_auto=yes&w=150&text_c=0A0A0A&textshadow=yes&textshadow_c=000000&shadow_bt=0&shadow_c=B4B5B5&border_s=1&border_c=f9f68a&border_c_hover=f7f25f&f_size_auto=no&f_s=12&font=arial, helvetica, sans-serif&bold=yes&inset=no&s_x=0&s_y=0&s_b=0&t_s_px=0&b_top=1&b_right=1&b_bottom=1&b_left=1&bt_c=f9f68a&br_c=f9f68a&bb_c=f9f68a&bl_c=f9f68a&bhover_top=1&bhover_right=1&bhover_bottom=1&bhover_left=1&bhover_t_c=f7f25f&bhover_r_c=f7f25f&bhover_b_c=f7f25f&bhover_l_c=f7f25f&bh_top=1&br_top=3&br_right=3&br_bottom=3&br_left=3&h_s=-1&v_s=-1&b_s=0&o_s=0.3
  */

html{
    height:100%;
}

body {
    padding: 108px 15px 20px 15px;
    min-height: 100%;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

b {
    font-weight: 600;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers - start*/
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* styles for validation helpers - end */

/*styles for top nav bar - start*/
.navbar-default.top-navbar {
    background-color: #3399CC;
    border-color: #3399CC;
}
.navbar-default .second-top-nav{
    background-color: #0088dc !important;
    height: 0px;
}
.navbar-default .second-top-nav a {
    color: white !important;
}
.navbar-default.top-navbar h1 {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*styles for top nav bar - end*/

/*styles for left nav bar - start*/
.left-nav-bar {
    background-color: #1ba2db;
    min-height: 100%;
    position: fixed;
    margin-top: -14px;
    margin-left:-15px;
}
.left-nav-bar a{
    color:white;
    text-align:center;
    width:100%;
    background-color: #334466;
}
.btn-group label{
    margin-right: 30px;
}
/*styles for left nav bar - end*/



/*styles for client - start*/

#client-list {
    padding-top: 15px;
}

.client-tile {
    width: 120px;
    height: 80px;
    padding:2px;
    margin-bottom:5px;
    font-size: 10pt;
    text-align: center;
    margin-right: 5px;
    background: red;
    border-radius:10px;
    align-content: center;
}
.client-tile:hover {
    background:#1D89CF;
}

.client-detail-container {
    margin-right: 20px;
}
.client-header {
    height: 65px;
    color:black;
    vertical-align: middle;
    padding-top: 12px;
    /*background-color: cornsilk;*/
    align-content: center;
    margin-bottom: 10px;
    margin-top: 2px;
    border-radius:10px;
}
.client-edit-btn, .clients-refresh-btn {
    border-radius:10px;
}
.clients-refresh-btn {
    margin-left: 20px;
    margin-right: 20px;
}

.application-edit-container {
    margin-right: 20px;
    margin-left: 20px;
}
/*styles for container - end*/

/*styles for animation - start*/
div[ng-view].ng-enter,
div[ng-view].ng-leave {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
div[ng-view].ng-enter {
    /*initial css for view transition in*/
    opacity: 0;
}

div[ng-view].ng-leave {
    /*initial css for view transition out*/
    opacity: 1;
}
div[ng-view].ng-enter-active {
    /*final css for view transition in*/
    opacity: 1;
}
div[ng-view].ng-leave-active {
    /*final css for view transition out*/
    opacity: 0;
}

.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block !important;
}
.animate-show.ng-hide {
    opacity: 0;
}
/*styles for animation - end*/

/*styles for tab - start */

.nav-pills > li {
    color: #4DC9C9 !important;
}
.nav-pills > li.active > a {
  background-color: #6C6C6C !important;
  border-color: #6C6C6C !important;
  border-radius: 10px;
}

.tab-content{
    margin-bottom: 10px;
    margin-top: 10px;
}

/*style for tab - end */

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}