<div class="application-edit-container">

<div id="showSpin" ng-if="dataLoading" style="padding: 10px; margin: auto; width: 50%; font-size:48px; background-color: #FFF; opacity: 0.9; filter: alpha(opacity=90);">
        <i class="fa fa-spinner fa-spin"></i>
</div>


<div ng-hide="dataLoading"><h1>{{applicationDetail.artifactId}}</h1>
<my-tabs>
    <my-pane title="Clients">
        <div ng-include="'partials/clients.html'"></div>
    </my-pane>
    <my-pane title="Status">
        <pre>{{applicationDetail.status.display()}}</pre>
    </my-pane>
    <my-pane title="Configuration">
    	<div ng-show="globals.currentUser.isAdmin">
        <span class="pull-right glyphicon glyphicon-trash text-danger" title="Remove" ng-show="canRemoveThisConfig()" ng-confirm="removeApplicationConfig()" ng-confirm-message="Are you sure you want to delete this application.?"></span>
        <div><button class="btn btn-warning client-edit-btn" ng-click="setEdit()" ng-hide="editMode">Edit</button>
        <button class="btn btn-primary client-edit-btn" ng-click="update()" ng-show="editMode">Save</button>
        <button class="btn client-edit-btn" ng-click="setEdit()" ng-show="editMode">Cancel</button></div>
        </div>
        <pre ng-hide="editMode">{{applicationDetail.configJsonContent}}</pre>
        <textarea ng-show="editMode" msd-elastic style="min-width:100%" id="app-config" placeholder="Edit application config here." ng-model="applicationDetail.configJsonContent" ></textarea>

    </my-pane>
</my-tabs>
</div>
</div>
