
<div id="showSpin" ng-if="dataLoading" style="padding: 10px; margin: auto; width: 50%; font-size:48px; background-color: #FFF; opacity: 0.9; filter: alpha(opacity=90);">
    <i class="fa fa-spinner fa-spin"></i>
</div>



<div ng-hide="dataLoading">

    <div class="btn-group">
        <label>Config Service Statistics: </label>
        <label><input type="radio" name="searchFilter" ng-model="search.status" value="" ng-checked="true"> All Clients:
            {{clientStatuses.length}}
        </label>
        <label><input type="radio" name="searchFilter" ng-model="search.status" value="green">OK Clients: {{green}}
        </label>
        <label><input type="radio" name="searchFilter" ng-model="search.status" value="yellow">Failing Clients:
            {{yellow}}
        </label>
        <label><input type="radio" name="searchFilter" ng-model="search.status" value="red">Dead Clients: {{red}}
        </label>



    </div>
    <button class="btn btn-success client-edit-btn" ng-click="refresh()"> <span class="glyphicon glyphicon-refresh"></span></button>


    <div id="client-list">

        <div ng-repeat="clientStatus in clientStatuses | filter:search" ng-click="goto(clientStatus)">

            <div class="client-tile col-sm-1" ng-style="{'background-color': clientStatus.color}" popover-placement="right"
                 data-popover-template="'partials/template_clientpopup.html'" data-popover-trigger="mouseenter">
                {{clientStatus.client.alias}}
            </div>
        </div>
    </div>
</div>

