
<div id="showSpin" ng-if="dataLoading" style="padding: 10px; margin: auto; width: 50%; font-size:48px; background-color: #FFF; opacity: 0.9; filter: alpha(opacity=90);">
    <i class="fa fa-spinner fa-spin"></i>
</div>

<div ng-hide="dataLoading">


    <div style="display:flex; align-items:center">

        <span class="btn-group">
            <label><input type="radio" name="searchFilter" ng-model="search.status" value="" ng-checked="true">&nbsp;All&nbsp;({{clientStatuses.length}})</label>
            <label><input type="radio" name="searchFilter" ng-model="search.status" value="green">&nbsp;OK&nbsp;({{green}})</label>
            <label><input type="radio" name="searchFilter" ng-model="search.status" value="yellow">&nbsp;Failing&nbsp;({{yellow}})</label>
            <label><input type="radio" name="searchFilter" ng-model="search.status" value="red">&nbsp;Dead&nbsp;({{red}})</label>
        </span>

        <span style="flex-grow:1"></span>

        <span>
            <input id="open-in-new-tab" type="checkbox" ng-model="checkboxModel.value">
            <label for="open-in-new-tab">Open new tab for each client</label>
        </span>

        <button class="btn btn-small clients-refresh-btn" ng-click="refresh()"> <span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>

    </div>

    <div id="client-list">
        <div ng-repeat="clientStatus in clientStatuses | filter:search | filter: clientStatus : clientStatus.client.ignored=false | orderBy: '-latestClientHeartbeatData.timeOfContact'" >

            <div class="client-tile col-sm-1" ng-style="{'background-color': clientStatus.bgcolor, 'color': clientStatus.fgcolor}" popover-placement="right"
                 data-popover-template="'partials/template_clientpopup.html'" data-popover-trigger="mouseenter" ng-click="goto(clientStatus)">
                {{clientStatus.client.alias}}
            </div>



        </div>
    </div>
</div>

