<div class="client-detail-container">

<div id="showSpin" ng-if="dataLoading" style="padding: 10px; margin: auto; width: 50%; font-size:48px; background-color: #FFF; opacity: 0.9; filter: alpha(opacity=90);">
     <i class="fa fa-spinner fa-spin"></i>
</div>
<div ng-hide="dataLoading">
<div class="client-header" ng-style="{'background-color': clientDetail.status.bgcolor, 'color': clientDetail.status.fgcolor}">
    <div class="col-sm-4">
        <b>Client ID:</b> {{clientDetail.status.client.clientId}}<br/>
        <b>Display Name:</b> <span  ng-hide="editMode">{{clientDetail.status.client.alias}}</span>
        <input type="text" name="alias"  id="alias" placeholder="Enter an alias name." ng-show="editMode"  id="alias"  ng-model="clientDetail.status.client.alias"  />
        <a ng-click="toggleEdit()"  ng-hide="editMode" ng-if="globals.currentUser.isAdmin"><span class="glyphicon glyphicon-pencil"></span></a>
        <a ng-click="saveEdit(clientDetail.status.client.alias)"  ng-show="editMode" ng-if="globals.currentUser.isAdmin"><span class="glyphicon glyphicon-ok"></span></a>
        <a ng-click="toggleEdit()"  ng-show="editMode" ng-if="globals.currentUser.isAdmin"><span class="glyphicon glyphicon-remove"></span></a>

    </div>
    <div class="col-sm-4">
        <b>Artifact ID of Client:</b> {{clientDetail.status.latestClientHeartbeatData.artifactId}}<br/>
        <b>App Config:</b> <span editable-select="clientDetail.config.id" e-form="configEditableText" onshow="loadAllConfigs()" e-ng-options="g.id as g.name for g in applicationConfigs"  onbeforesave="moveToConfig($data)" onaftersave="refresh()">{{ clientDetail.config.name || 'empty' }}</span>
		  <span class="glyphicon glyphicon-pencil"  ng-click="configEditableText.$show()" ng-hide="configEditableText.$visible"></span>
  

    </div>
    <div class="col-sm-4">
    <b>Config Last Changed:</b> {{clientDetail.status.latestClientHeartbeatData.configLastChanged|date:'yyyy-MM-dd HH:mm:ssZ'}} <br/>
    <b>Last Seen:</b> {{clientDetail.status.latestClientHeartbeatData.timeOfContact|date:'yyyy-MM-dd HH:mm:ssZ'}} <br/>
    </div>
</div>

<button ng-if="globals.currentUser.isAdmin && clientDetail.status.status=='red'"
        class="pull-right btn client-edit-btn" title="Hide this client" ng-confirm="ignoreMe()" ng-confirm-message="Are you sure you want to hide this client?">
    <span class="glyphicon glyphicon-eye-close"></span>&nbsp;Hide
</button>

<div>
    <my-tabs>

        <my-pane title="Configuration">
            <!--
            <a href="#/client/edit" class="btn btn-primary" ng-if="globals.currentUser.isAdmin"><span
                    class="glyphicon glyphicon-cog"></span> Edit
                Configuration</a> -->
            <pre>{{clientDetail.config.display()}}</pre>
        </my-pane>
        <my-pane title="Environment">
            <pre>{{clientDetail.env.display()}}</pre>
        </my-pane>
        <my-pane title="Events">
            <pre>{{clientDetail.events.display()}}</pre>
        </my-pane>
        <my-pane title="CloudWatch Logs">
            <pre>Not Implemented</pre>
        </my-pane>
    </my-tabs>

</div>
</div>
</div>
