<h1>Application</h1>

<pre>
    {
   "envInfo":{
      "HISTCONTROL":"ignoredups",
      "HISTSIZE":"1000",
      "HOME":"/home/JAU2",
      "HOSTNAME":"ip-172-31-57-144",
      "LANG":"en_US.UTF-8",
      "LESSOPEN":"||/usr/bin/lesspipe.sh %s",
      "MAIL":"/var/spool/mail/JAU2",
      "NLSPATH":"/usr/dt/lib/nls/msg/%L/%N.cat",
      "PATH":"/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin",
      "PWD":"/home/JAU2",
      "SHELL":"/bin/bash",
      "SHLVL":"2",
      "TERM":"xterm-256color",
      "USER":"JAU2",
      "XFILESEARCHPATH":"/usr/dt/app-defaults/%L/Dt",
      "_":"/usr/bin/nohup",
      "applicationState":"{clientId=ec30e40a-0c08-47b5-9710-7fcac6926d78, eventExtractionConfigs=[], lastChanged=2016-06-27T19:40:18.994Z, command=java -jar dropwizard-hello-world-application-1.0.jar}",
      "jau.version":"0.8-beta-6-SNAPSHOT",
      "networkinterface_eth0":"172.31.57.144",
      "processIsRunning":"true",
      "processIsRunning timestamp":"Mon Jun 27 19:25:30 UTC 2016"
   },
   "timestamp":"2016-06-27T19:25:30.761Z"
}

</pre>