<p>
    <b>Client ID</b><br>
    {{clientStatus.client.clientId}}
</p>
<p>
    <b>Artifact ID:</b><br>
    {{clientStatus.latestClientHeartbeatData.artifactId}}
</p>
<p>
    <b>Application Config ID:</b><br>
    {{clientStatus.latestClientHeartbeatData.applicationConfigId}}
</p>
<p>
    <b>Config Last Changed:</b><br>
    {{clientStatus.latestClientHeartbeatData.configLastChanged|date:'yyyy-MM-dd hh:mm:ssZ'}}
</p>
<p>
    <b>Last Seen:</b><br>
    {{clientStatus.latestClientHeartbeatData.configLastChanged|date:'yyyy-MM-dd hh:mm:ssZ'}}
</p>